<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.3.3.0" targetFramework="net451" />
  <package id="ImageProcessor.Web" version="4.5.3.0" targetFramework="net451" />
  <package id="ImageProcessor.Web.Config" version="2.2.5.0" targetFramework="net451" />
</packages>